<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rushour">
    <meta name="author" content="Rushour">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <link href="/stylesheets/animate-custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <style type="text/css">
    .card {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card .card-heading {
        padding: 0 20px;
        margin: 0;
    }

    .card .card-heading.simple {
        font-size: 20px;
        font-weight: 300;
        color: #777;
        border-bottom: 1px solid #e5e5e5;
    }

    .card .card-heading.image img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .card .card-heading.image .card-heading-header {
        display: inline-block;
        vertical-align: top;
    }

    .card .card-heading.image .card-heading-header h3 {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #262626;
    }

    .card .card-heading.image .card-heading-header span {
        font-size: 12px;
        color: #999999;
    }

    .card .card-body {
        padding: 0 20px;
        margin-top: 20px;
    }

    .card .card-media {
        padding: 0 20px;
        margin: 0 -14px;
    }

    .card .card-media img {
        max-width: 100%;
        max-height: 100%;
    }

    .card .card-actions {
        min-height: 30px;
        padding: 0 20px 20px 20px;
        margin: 20px 0 0 0;
    }

    .card .card-comments {
        padding: 20px;
        margin: 0;
        background-color: #f8f8f8;
    }

    .card .card-comments .comments-collapse-toggle {
        padding: 0;
        margin: 0 20px 12px 20px;
    }

    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

    .card.people:first-child {
        margin-left: 0;
    }

    .card.people .card-top {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 170px;
        height: 150px;
        background-color: #ffffff;
    }

    .card.people .card-top.green {
        background-color: #53a93f;
    }

    .card.people .card-top.blue {
        background-color: #427fed;
    }

    .card.people .card-info {
        position: absolute;
        top: 150px;
        display: inline-block;
        width: 100%;
        height: 101px;
        overflow: hidden;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.people .card-info .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
    }

    .card.people .card-info .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.people .card-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        line-height: 29px;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

    .card.hovercard .cardheader {
        /*background: url("http://lorempixel.com/850/280/nature/4/");*/
        background-size: cover;
        height: 350px;
    }

    .card.hovercard .avatar {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
    }

    .card.hovercard .avatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
    }

    .card.hovercard .info {
        padding: 4px 8px 10px;
    }

    .card.hovercard .info .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
    }

    .card.hovercard .info .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .btn-modal{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

  </style>
  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
    <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="/"><span class="icon icon-list-ul" style="font-size:30px; color:#3498db;"><img src="/images/RSnav.png" alt=""></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li> <a href="#about" class="smoothScroll">What's Hot?</a></li>
            <li> <a href="#services" class="smoothScroll">Around You!</a></li>
            <!-- <li> <a href="#tuts" class="smoothScroll"></a></li> -->
            <% if (typeof user !== 'undefined') { %>
              <li> <a href="#" class="smoothScroll"><%= user.facebook.name %></a></li>
              <li> <a href="/logout" class="smoothScroll">Logout</a></li>
            <% } else { %>
              <li><a href="/auth/facebook" class="smoothScroll fa fa-facebook"></a></li>
            <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

  
  
        <!-- ==== HEADERWRAP ==== -->
        <div id="headerwrap" id="home" name="home" style="height: 100vh;">
            <header class="clearfix">
                    <h1 style="font-size: 60px; color: #D7C006;">KAM Khuwaari, ZIADA Maza!</h1>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <input type="text" name="searchBox" class="form-control" id="searchBox" autocomplete="off" placeholder="Search for..."/><br/>
                            <button type="button" onclick="searchButton()" class="btn btn-success">Search</button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="searchResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                <div class="col-lg-6 col-sm-6">

                                        <div class="card hovercard">
                                            <div class="cardheader">
                                                <canvas id="myChart"></canvas> 
                                            </div>
                                            <div class="avatar">
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <h4 class="modal-title" id="searchResultModalTitle" style="color: black;" >Modal title</h4>
                                                </div>
                                                <div class="desc" id="searchResultModalAddress" style="color: black;" >Modal title</div>
                                                <div class="desc" id="searchResultModalCity" style="color: black;" >Modal title</div>
                                                <hr>
                                                <div class="desc" style="color: black; font-size: 16px;" ><strong>Rush</strong></div>
                                            </div>
                                            <div class="bottom">
                                                <a class="btn btn-primary btn-twitter btn-lg">
                                                    <i id="searchResultModalCount"></i>
                                                    <i>%</i>
                                                </a>
                                                <a class="btn btn-primary btn-warning btn-lg" data-toggle="modal" data-target="#picture">
                                                    <i id="">Reserve</i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                              </div>
                            </div>
                            <!-- <canvas id="myChart"></canvas> -->
                          </div>
                          <div class="modal-footer">
                            <center><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></center>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="picture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <img src="/images/tables.jpg" alt="" />
                                </div>

                              </div>
                            </div>
                            <!-- <canvas id="myChart"></canvas> -->
                          </div>
                          <div class="modal-footer">
                            <center><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></center>
                          </div>
                        </div>
                      </div>
                    </div>
            </header>       
        </div><!-- /headerwrap -->
        <style>
              .carousel-demo {
                width:560px;
              }
              .carousel-demo-vertical {
                height:400px;
                width:135px;
                margin-right: 180px;
              }
              .carousel-demo li {
                background:rgb(231,202,27);
                border:1px 
                solid #fff;
                color:#666;
                font-weight:bold;
                font-size:14px;
                height:65px;
                list-style:none;
                padding:0 0 0 0;
                margin:0 10px 0 0;
                width: 500px;
              }
              .carousel-demo-vertical li {
                margin:0 0 10px 0;
              }
        </style>

        <style>
        .rslides {
          position: relative;
          list-style: none;
          overflow: hidden;
          width: 100%;
          padding: 0;
          margin: 0;
          }

        .rslides li {
          -webkit-backface-visibility: hidden;
          position: absolute;
          display: none;
          width: 100%;
          left: 0;
          top: 0;
          }

        .rslides li:first-child {
          position: relative;
          display: block;
          float: left;
          }

        .rslides img {
          display: block;
          height: 400px;
          float: left;
          width: 100%;
          border: 0;
          }

        </style>
        
        <!-- ==== ABOUT ==== -->
        <div class="container" id="about" name="about" >
            <div class="row white">
            <br>
                <h1 class="centered" style="color: #000"><strong>What's hot?</strong></h1>
                <hr><br/><br/>
                <div class="row" style=" padding-top: 100px;">
                  <div id="carousel-demo2" class="col-lg-8 carousel-demo carousel-demo-vertical ">
                    <ul id="tickerA">
                    </ul>
                  </div>
                  <div class="col-lg-4">
                    <ul class="rslides" id="rslides" style="height: 400px;">
                    </ul>
                  </div>
                </div>
            </div>
        </div><!-- container -->
        
        
        <!-- ==== SERVICES ==== -->
        <div class="container" id="services" name="services">
            <br>
            <br>
            <h1 class="centered" style="color: #000"><strong>Around You!</strong></h1>
            <hr>
            <div id="map-canvas" style="height:500px;"></div>
            <div id="ads"></div>
            <% if (typeof user !== 'undefined') { %>
            <p>
                <h1></h1>
                <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
                <p id="facebook_user_id" value="<%= user.facebook.id %>"><%= user.facebook.id %></p>
                <!-- <strong>id</strong>: <%= user.facebook.id %><br>
                <strong>token</strong>: <%= user.facebook.token %><br>
                <strong>email</strong>: <%= user.facebook.email %><br>
                <strong>name</strong>: <%= user.facebook.name %> -->
            </p>
            <% } %>
        </div>
        

        <!-- ==== TEAM MEMBERS ==== -->
        <div class="container" id="team" name="team">
        <br>
            <div class="row white centered">
                <h1 class="centered"  style="color: #000;"><strong>MEET OUR AWESOME TEAM</strong></h1>
                <hr>
                <br>
                <br>
                
                <div class="col-lg-4 centered">
                    <img class="img img-circle" src="/images/qandeel.jpg" height="120px" width="120px" alt="">
                    <br>
                    <h4 style="color: #000;"><b>Qandeel Tariq</b></h4>
                    <h6 style="color: #000;"><b>Business &amp; fluffy stuff!</b></h6>
                    <a href="#" class="icon icon-twitter"></a>
                    <a href="https://www.facebook.com/qandeel.tariq.14" class="icon icon-facebook"></a>
                    <a href="#" class="icon icon-flickr"></a>
                    <p style="color: #fff;">We don't know what we'd do without her. A beauty inside and out. The nicest person. Super creative and fun. NOT ANNOYING AT
                      ALL. We wouldn't last a day without her. The face of our startup. :D (She was the one writing intros. -.- But she is not bad. :p(Gohar, Laghari))</p>
                </div><!-- col-lg-3 -->
                
                <div class="col-lg-4 centered">
                    <img class="img img-circle" src="/images/laghari.jpg" height="120px" width="120px" alt="">
                    <br>
                    <h4 style="color: #000;"><b>Mohammad Laghari</b></h4>
                    <h6 style="color: #000;"><b>Front-end guy (web and otherwise)!</b></h6>
                    <a href="#" class="icon icon-twitter"></a>
                    <a href="https://www.facebook.com/mohammad.laghari" class="icon icon-facebook"></a>
                    <a href="#" class="icon icon-flickr"></a>
                    <p style="color: #fff;">The queen of subtlety in our group who is never an embarrassment in public places, rules the CS Department by the day and the football field at night. Often mistaken as Justin Bieber so finds it hard to handle them paprazzi and avoids frequent public appearances. A complete hard worker, an inspiration as a person and a mentor for all the web-developers out there!</p>
                </div><!-- col-lg-3 -->

                <div class="col-lg-4 centered">
                    <img class="img img-circle" src="/images/gohar.jpg" height="120px" width="120px" alt="">
                    <br>
                    <h4 style="color: #000;"><b>Gohar Irfan</b></h4>
                    <h6 style="color: #000;"><b>The dirty kind of coding.</b></h6>
                    <a href="https://www.twitter.com/gohar94" class="icon icon-twitter"></a>
                    <a href="https://www.facebook.com/gohar.irfan" class="icon icon-facebook"></a>
                    <a href="#" class="icon icon-flickr"></a>
                    <p style="color: #fff;">Sarcastic ALWAYS, ambitious by nature and a coder at heart in a serious relationship with his laptop. We dragged him right out of those big bang theory type shows. Spend 5 minutes with him and you wouldn’t help feeling intimidated by his brilliance, awed by his humble persona and entertained by his endless stream of sarcasm. He ACTUALLY doesn’t know how to answer a question straight. :p</p>
                </div><!-- col-lg-3 -->
            </div><!-- row -->
        </div><!-- container -->
        </div>

        
        <!-- ==== SECTION DIVIDER6 ==== -->
        <section class="section-divider textdivider divider6">
            <div class="container">
                <h1>Our humble abode</h1>
                <hr>
            </div><!-- container -->
        </section><!-- section -->

        <div id="footerwrap">
            <div class="container">
                <h4>RusHour</h4>
            </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>

    <!-- For Socket.io to connect to Node.js server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- For plotting prediction charts using Chart.js -->
    <script src="/javascripts/Chart.js"></script>

    <script type="text/javascript" src="/javascripts/retina.js"></script>
    <script type="text/javascript" src="/javascripts/smoothscroll.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/jquery-func.js"></script> -->
    <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="/javascripts/scrollingcarousel.2.0.min.js"></script>
    <script src="/javascripts/responsiveslides.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#carousel-demo1').scrollingCarousel();
        
        // $('#carousel-demo2').scrollingCarousel( {
        //   scrollerAlignment : 'vertical',
        //   autoScroll: true
        // });
        $('#carousel-demo3').scrollingCarousel( {
          scrollerAlignment : 'vertical',
          autoScroll: true
        });
      });
    </script>

    <script>
    $( document ).ready(function() {
    
    });

    </script>

    <style type="text/css">
      body {
          background-color: rgb(75, 68, 66);
      } 
    </style>
    <script src="/javascripts/rushour.js"></script>
  </body>
</html>