<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="RusHour">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/rushour.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="/javascripts/jquery.easing.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <!-- For Socket.io to connect to Node.js server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- For plotting prediction charts using Chart.js -->
    <script src="/javascripts/Chart.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.js"></script>
    <!-- Custom Theme JavaScript -->

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .fixed-height {
            padding: 1px;
            max-height: 200px;
            overflow: auto;
        }
    </style>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <!-- TODO: append &signed_in=true to the above url for signing user in, but that makes loading slow -->

    <script src="/javascripts/rushour.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-car"></i>  <span class="light">Rus</span>Hour
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">What's hot?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map-canvas">Around you!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">What to put here??</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RusHour</h1>
                        <input type="text" class="form-control" id="searchBox" autocomplete="off" placeholder="Search for...">
                        <!-- Button trigger modal -->
                        <button type="button" onclick="searchButton()" class="btn btn-primary">
                            Search
                        </button>
                        <br/]>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="searchResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="searchResultModalTitle" style="color: black;" >Modal title</h4>
          </div>
          <div class="modal-body">
            <canvas id="myChart"></canvas>
          </div>
          <div class="modal-footer">
            <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
          </div>
        </div>
      </div>
    </div>

    <!-- Ticker Section -->
    <section id="about" class="container content-section text-center">
        <h2>About RusHour</h2>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Updates around you!</p>
                <% if (typeof user !== 'undefined') { %>
                <p>
                    <h1></h1>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <input id="facebook_user_id" value="<%= user.facebook.id %>" type="hidden"/>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                    <strong>search history</strong>: <%= categories %>
                </p>
                <% } else { %>
                    <a href="/auth/facebook">Login with Facebook</a>
                <% } %>    
                <div id="ticker">
                    <div id="ticker-wrapper">
                        <ul id="ticker-wrapper-inner">
                        </ul>
                    </div>
                </div>
                <!-- <ul id="ticker"></ul> -->
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map-canvas"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; RusHour Footer and shizz</p>
        </div>
    </footer>

</body>

</html>