<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>Rushour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render(:partial => "layouts/dashboard_navigation_links") %>

<% if !flash[:notice].blank? %>
  <div id="flash_notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>