<table summary="Service Admin form fields">
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username, :size => 50) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password, :size => 50) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password_confirm) %></th>
    <td><%= f.password_field(:password_confirm, :size => 50) %></td>
  </tr>
  <tr>
    <th><%= f.label(:service_id, "Service to Administor") %></th>
    <td>
      <%= f.collection_select(:service_id, Service.all, :id, :name ) %>
    </td>
  </tr>
</table>